.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-image-1 {
  width: 321px;
  height: 321px;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: "Archivo Black";
  margin: 0 auto 60px;
}