.u-section-1 .u-sheet-1 {
  min-height: 921px;
}

.u-section-1 .u-image-1 {
  width: 600px;
  height: 406px;
  margin: 81px auto 0;
}

.u-section-1 .u-video-1 {
  width: 575px;
  height: 320px;
  margin: -394px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 407px;
    margin-top: 88px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -386px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 366px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    margin-top: -366px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 230px;
    margin-top: 148px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 356px;
    margin-top: -291px;
  }
}